.hackerNew{
    background-color: rgb(246, 246, 239);
    height: calc(100vh - 116px);
    padding: 5px;
    overflow-y: scroll;
    .hackerNewsPoint {
        background-color: rgb(246, 246, 239);
        line-height: 2px;
        padding: 4px 0px;
        .paragraph {
            display: flex;
            gap: 0.5rem;
            align-items: center;

            p {
                font-size: 14px;
                color: #828282;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
            }

            .pointNumber {
                color: #828282;
                font-size: 10px;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
            }

            .point {
                color: #828282;
                font-size: 14px;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
            }
        }

        .pointHourComment {
            margin-left: 17px;

            span {
                color: #828282;
                font-size: 10px;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
            }

        }

    }
}