<div class="hackerNew" (scroll)="onScroll($event)" >
    <ng-container *ngFor="let id of postIds;let i=index" >
        <app-item *ngIf="i<limit"
            [storyId]="id"
            [index]="i"
        ></app-item>
    </ng-container>
</div>