.hackerNewsPoint {
    background-color: rgb(246, 246, 239);
    line-height: 2px;
    padding: 4px 0px;
    .paragraph {
        display: flex;
        gap: 0.5rem;
        align-items: center;

        p {
            width: 100%;
            font-size: 14px;
            color: #828282;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }

        .pointNumber {
            width: 100%;
            color: #828282;
            font-size: 10px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }

        .point {
            color: #828282;
            font-size: 14px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
    }

    .pointHourComment {
        margin-left: 20px;

        span {
            color: #828282;
            font-size: 10px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }

    }

}