<div class="hackerNewsPoint">
    <div class="paragraph">
        <span class="point">{{index+1}}.</span>
        <p *ngIf="newsData && newsData.url" (click)="openNews(newsData.url)">
            {{ newsData?.title }} <span class="pointNumber" *ngIf="newsData.url">{{getUrl(newsData.url)}}</span>
        </p>
    </div>
    <div class="pointHourComment">
        <span> {{newsData?.score}} points by {{newsData?.by}} {{getTime(newsData?.time)}} | hide | {{newsData?.descendants}} comments</span>
    </div>
</div>