
    .headerPage {
        background-color: rgb(255, 102, 0);
        display: flex;
        gap: 0.2rem;
        padding: 0.2rem;

        .logo {
            border: 1px solid #fff;
            height: 18px;
            width: 18px;

            h2 {
                color: #fff;
                font-size: 13px;
                margin: 0;
                padding: 2px 4px;

            }
        }

        .header {
            font-size: 14px;
            font-weight: 700;
            align-items: center;
            display: flex;
            font-family: Verdana, Geneva, Tahoma, sans-serif;

        }
    }
   

// @media (max-width:576px) {
//     .containerPage{
//         margin: 0;
//         .hackerNewsPoint{
//             width: 100%;
//         }
//     }
  
// }
// @media (max-width:991px) {
//     .containerPage{
//         margin: 0;
//         .hackerNewsPoint{
//             width: 100%;
//         }
//     }
  
// }
// @media (max-width:1560px) {
//     .containerPage{
//         margin: 0;
//         .hackerNewsPoint{
//             width: 100%;
//         }
//     }
  
// }