      <div class="container">
        <div class="footertext">
            <p>Guidelines |</p>
            <p>FAQ |</p>
            <p>List |</p>
            <p>API |</p>
            <p>Security |</p>
            <p>Legal |</p>
            <p>Apply to YC |</p>
            <p>Contact |</p>

        </div>
        <label for="">Search</label>
        <input type="search">
      </div>
     
