
    .container{
        padding: 10px 0px;
        text-align: center;
        background-color: rgb(246, 246, 239);
        border-top: 2px solid salmon;

        .footertext{
            display: flex;
            gap: 0.4rem;
            justify-content: center;
            p{
                color: black !important;
                font-size: 10px;
                font-family: Verdana, Geneva, Tahoma, sans-serif;  
            }
        }
        label{
            font-size: 18px;
            color: #828282;
            padding: 0 5px ;
        }
        input{
            padding: 2px 8px;
        }
    }
